<!-- <section class="data-filter">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      {{input type="text" value=search placeholder="search" class="form-control"}}
    </div>
  </form>
</section> -->

<div class="row">

  <div class="col-sm-12">
    <div class="navbar-header">
      <h3>Users</h3>
    </div>
  </div>

  <div class="col-sm-12">
    <section class="data-table">

      <div class="csv-generator-box">
        <button type="button" class="btn btn-info btn-sm" {{action 'toggleButtons'}}>
          generate csv
        </button>
        <span {{bind-attr class=":attribute-select displayButtons:display"}}>
          <button type="button" class="btn btn-info btn-sm" {{action 'generateCsv' 'email'}}>email</button>
          <button type="button" class="btn btn-info btn-sm" {{action 'generateCsv' 'phoneNumber'}}>phonenumber</button>
        </span>
        <div {{bind-attr class=":csv :hide generatedCsv:show"}}>
          {{generatedCsv}} <span class="glyphicon glyphicon-remove" {{action 'clearCsv'}}></span>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
            <th>News subscriber</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each user in controller}}
            <tr>
              <td>
                {{#link-to 'user' user.model}} {{user.model.name}} {{/link-to}}
              </td>
              <td>{{user.model.phoneNumber}}</td>
              <td>{{user.model.email}}</td>
              <td>{{user.model.role}}</td>
              <td>{{user.displaySubscriptionBoolean}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" {{action 'destroy' user}}>delete</button>
              </td>
            </tr>
          {{/each}}

        </tbody>
      </table>

    </section>
  </div>

</div>