
<div class="row user-list list">

  <header class="col-sm-12">

    <div class="col-sm-3 title">
      <h3>Users</h3>
    </div>

    <div class="col-sm-9 actions">
      <ul class="list-inline">

        <li class="action-export">
          <a>
            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
          </a>
        </li>

        <li class="action-create">
          {{#link-to 'user.create'}}
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          {{/link-to}}
        </li>

      </ul>
    </div>

  </header>

  <div class="col-sm-12">
    <section class="data-table">

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Role</th>
            <th>News subscriber</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          {{#each user in controller}}
            <tr>
              <td>
                {{#link-to 'user.edit' user.model}} {{user.model.name}} {{/link-to}}
              </td>
              <td>{{user.model.phoneNumber}}</td>
              <td>{{user.model.email}}</td>
              <td>{{user.model.role}}</td>
              <td>{{user.displaySubscriptionBoolean}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm" {{action 'destroy' user}}>delete</button>
              </td>
            </tr>
          {{/each}}

        </tbody>
      </table>

    </section>
  </div>

</div>