
<div class="row">
  <div class="col-sm-12">
    <h3>{{model.name}}</h3>
  </div>
</div>

<div class="row">

  <div class="col-sm-12">

    <table class="table">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>{{view "contenteditable" tagName="span" plaintext=true value=model.name editable=true}}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{view "contenteditable" tagName="span" plaintext=true value=model.email editable=true}}</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>{{view "contenteditable" tagName="span" plaintext=true value=model.phoneNumber editable=true}}</td>
        </tr>
        <tr>
          <td>Role:</td>
          <td>
            {{view "select" content=roles selection=model.role}}
          </td>
        </tr>
        <tr>
          <td>News Subscriber:</td>
          <td>
            {{input type="checkbox" name="subscribesToNews" checked=model.subscribesToNews}}
          </td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-success" {{bind-attr disabled="isClean"}} {{action 'save' model}}>Save</button>

  </div>

</div>