

<div class="wrapper" id="event_signup_form">

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <% if(flash && flash.messages) { %>

    <div class="flash row <%= flash.error ? 'error' : '' %>">

      <div class="col-sm-12">
        <ul class="list-unstyled">
          <% flash.messages.forEach(function(message) { %>
              <li> <%= message %> </li>
          <% }) %>
        <ul>
      </div>

    </div>

  <% } %>

  <div class="row">

    <div class="col-sm-12">

      <p>
        If you want information about upcomming public as well as private parties. Sign up here. <br/>
        You will not be spammed.
      </p>

      <form id="eventsignupform" class="form" action="/subscribe" method="post">

        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Good name + Surname" required value="<%= formdata ? formdata.name : '' %>">
        </div>

        <div class="form-group">
          <i> ~ and ~ </i>
          <input type="text" name="phoneNumber" class="form-control" placeholder="+47 mobile" value="<%= formdata ? formdata.phoneNumber : '' %>">
          <i> ~ and/or ~ </i>
          <input type="email" name="email" class="form-control" placeholder="Email" value="<%= formdata ? formdata.email : '' %>">
        </div>

        <div class="form-group">
          <div class="g-recaptcha <%= formdata ? 'active' : 'inactive' %>" data-sitekey="6LeGFQUTAAAAACGv1lGJhopCrDE4aHojBO3bLvns"></div>
        </div>

        <button type="submit" name="button" class="btn btn-success btn-lg">beam me up</button>
      </form>
    </div>

  </div>


  <script charset="utf-8">

    Array.prototype.slice.call(document.querySelectorAll('input')).forEach(function(input){
      input.addEventListener('keyup', function(event) {
        document.querySelector('.g-recaptcha').setAttribute('class', 'g-recaptcha active')
      })
    })

    setTimeout(function() {
      document.querySelector('#mainwrapper').setAttribute('class', 'wrapper show')
    }, 180)

  </script>

</div>
