extends layout

block content


  section#featured(class=bg)

    .wrapper

      div.logo

      //- div.logowrapper
      //-   div.logobox
      //-     div.dot.a
      //-     div.dot.b

      .content
        header
          h1="MONUMENT"
          h2="01: Korpex"
        div.desc
          iframe( id="player", width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F89868066&show_artwork=false&color=A5BD7D")
          //- p.first="Korpex started spinning vinyl in the late 90's in the capital city of Techno itself, Berlin. His technique is a reflection of Berlin's firstclass mixing and set-building. Korpex played in Berlin for six years, and today you can hear his musical roots in groovy loop-based Tribaltechno/Hardgroove."
          //- p="In 2005, Korpex moved to OSLO to share his driving groovetech in Oslo's club scene. In recent years, he's made a name for himself at some of Oslo's biggest events, including Amenta, FOOTFOOD (Sunkissed), PERFECTO (with Nima Gorji), Primal Behaviour, and in 2011 he became residence at The Villa Oslo."

          div.column.first
            p(tabindex="1")="The young berliner had his first success behind the turntables in the beginning of the new millennium. After moving to Norway in 2005, everything changed fast and Korpex had countless gigs and became resident at The Villa Oslo." 
            p(tabindex="2")="In Oslo Korpex and his friends also started a new underground concept called: Amenta. Amenta was launched in 2011 and Korpex is one of the main guys behind the concept which focuses on providing unforgettable nights on the dancefloor, both as DJ and organizer."
          div.column.second
            p(tabindex="3")="His style varies between Detroithouse, driving Deephouse and Dubtechno. After Monument introduced their new norwegian podcast for Techno-interested people around the world, it was no question for him to make the first edition of the Monument Podcast series." 
            p(tabindex="4")="This man knows how to play, and also how to create epic underground nights, preferably starting in the night and ending in the morning."

        div.socialicons
          a.socialicon#facebook(href="https://www.facebook.com/MonuMnt", target="_blank")
          a.socialicon#twitter(href="https://twitter.com/MonumentPodcast", target="_blank")


  div.image-fullscreen

  