<!DOCTYPE html>
<html>
  <head>

    <title>Monument, Norwegian Techno, Culture and Community.</title>
    <meta property="og:title"content="Monument, Norwegian Techno, Culture and Community." />

    <meta name="description" property="og:description" content="Monument is a techno podcast and community based in Oslo Norway. We are promoting and cultivating quality underground techno. Feel free to join us on this mystical journey." />
    <meta name="keywords" content="techno, culture, norway, oslo, community, love, electronic, music, podcast">

    <meta name="image" property="og:image" content="http://monument.herokuapp.com/images/2_1.png" />
    <meta property="og:image:secure_url" content="https://monument.herokuapp.com/images/2_1.png" />

    <meta name="robots" content="index,follow">

    <!-- fav icon -->
    <link rel="icon" type="image/ico" href="/images/logo.ico"/>

    <link rel="stylesheet" href="/styles/index.css">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>

    <div class="container-fluid">

      <header>

        <div class="logo-wrapper">
          <div class="logo">
            <div class="icon"></div>
            <h1>onument</h1>
          </div>
        </div>

        <nav id="header-nav">
          <ul class="nav">
            <li class="<%= pageName == 'podcasts' ? 'active': '' %>">
              <a href="/">podcasts</a>
            </li>
            <% pages.forEach(function(page){ %>
              <li class="<%= pageName == page.name ? 'active': '' %>">
                <a href="/static/<%=page.name%>"><%=page.name%></a>
              </li>
            <% })%>
          </ul>
        </nav>

      </header>

      <%- body %>

    </div>

  </body>
</html>
