<header id="main-header" class="row">

  <div class="logo-wrapper">
    <div class="logo">
      <h1>monument</h1>
    </div>
  </div>

  <nav id="header-nav">
    <ul class="nav">
      <li class="<%= currentPage.name == 'podcasts' ? 'active': '' %>">
        <a href="/podcasts">podcasts</a>
      </li>
      <li class="<%= currentPage.name == 'events' ? 'active': '' %>">
        <a href="/events">events</a>
      </li>
      <% pages.forEach(function(page){ %>
        <li class="<%= currentPage.id == page.id ? 'active': '' %>">
          <a href="/static/<%=page.name%>"><%=page.name%></a>
        </li>
      <% })%>
    </ul>
  </nav>

</header>