
<div class="wrapper" id="mainwrapper">

  <header>
    <div class="logo-wrapper">
      <div class="logo">
        <div class="icon" ></div>
        <span class="r" >onument</span>
        <span class="b" >onument</span>
      </div>
    </div>
  </header>

  <% if(flash && flash.messages) { %>

    <div class="flash <%= flash.error ? 'error' : '' %>">
      <ul class="list-unstyled">
        <% flash.messages.forEach(function(message) { %>
            <li> <%= message %> </li>
        <% }) %>
      <ul>
    </div>

  <% } %>

  <p>
    Om du vil ha informasjon om fremtidige offentlige samt private arrangementer meld deg på her. Du vil ikke bli spammet.
  </p>

  <form id="eventsignupform" action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Fornavn + Etternavn" required value="<%= formdata ? formdata.name : '' %>">
    <i> ~ samt ~ </i>
    <input type="text" name="phoneNumber" placeholder="Mobilnummer" value="<%= formdata ? formdata.phoneNumber : '' %>">
    <div class="clear"></div>
    <i> ~ og/eller ~ </i>
    <div class="clear"></div>
    <input type="email" name="email" placeholder="Epost" value="<%= formdata ? formdata.email : '' %>">
    <div class="clear"></div>
    <input type="submit" value="meld meg på" class="button">
  </form>


  <script charset="utf-8">
    setTimeout(function() {
      document.querySelector('#mainwrapper').setAttribute('class', 'wrapper show')
    }, 50)
  </script>

</div>
