
<div class="row">

  <div class="col-sm-12 user-form">

    <table class="table">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>
            {{input type="text" value=model.name size="50" placeholder="fullname"}}
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            {{input type="text" value=model.email size="50" placeholder="email@domain.com"}}
          </td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>
            {{input type="text" value=model.phoneNumber size="50" placeholder="12341234"}}
          </td>
        </tr>
        <tr>
          <td>Role:</td>
          <td>
            {{view "select" content=roles selection=model.role}}
          </td>
        </tr>
        <tr>
          <td>password:</td>
          <td>
            {{input type="password" value=model.password placeholder="password"}}
            {{input type="password" value=model.passwordConfirm placeholder="confirm"}}
          </td>
        </tr>
        <tr>
          <td>News Subscriber:</td>
          <td>
            {{input type="checkbox" name="subscribesToNews" checked=model.subscribesToNews}}
          </td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-success" {{bind-attr disabled="isClean"}} {{action 'save' model}}>Save</button>

  </div>

</div>